{% extends 'base.html' %}
{% load widget_tweaks %}

{% block page_css %}
    <style>
    .tag {

    }

    </style>
{% endblock %}

{% block content %}
<div class="container">
<nav class="breadcrumb-nav" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Главная</a></li>
    <li class="breadcrumb-item active" aria-current="page">Оспаривание инцидента</li>
  </ol>
</nav>

<h1 class="section-title">Оспаривание инцидента</h1>
<div class="section-block event-block">

  <div class="section-block__item">
    <div class="row align-items-center">
      <div class="col-md-9">

                <div class="user-name">
                  <div class="user-name__value">{{ card.get_user.get_full_name }}</div>
                    <span class="user-name__id user-id">ID {{ card.get_user.leader_id }}</span>
                </div>
      </div>
      <div class="col-md-3">
        <div class="user-status">
            {% comment %}
          <ul class="status-indicator">
            <li><span class="circle circle-orange"></span></li>
            <li><span class="circle circle-orange"></span></li>
            <li><span class="circle circle-orange"></span></li>
            <li><span class="circle"></span></li>
            <li><span class="circle"></span></li>
          </ul>
            {% endcomment %}
        </div>
      </div>
    </div>
  </div>

  <div class="section-block__item" style="background: rgba(173, 130, 130, 0.25);">
    <div class="row align-items-center">

      <div class="col-md-9">
        <div class="user-event">

              <h3 class="user-event__title" style="">
                  {{ card.reason }}
                  {{ card.incident_dt|date:"d.m.Y" }}
              </h3>
              <div class="user-event__date">
                  зафиксировано {{ card.get_status.change_dt|date:"d.m.Y" }}
              </div>
              <p class="user-event__text">
                 {{ card.description }}
              </p>

        </div>


      {% if request.user.is_assistant %}
            <div class="event-date">

          {% if appeal.status != appeal.STATUS_APPROVED and appeal.status != appeal.STATUS_REJECTED %}
                 Время до решения:
                <span
                        {% if appeal.time_for_complete > 0 %}
                            style="color: green"
                        {% else %}
                            style="color: darkred"
                        {% endif %}
                >
                {{ appeal.time_for_complete_text }}
                </span>
          {% endif %}
            </div>
      {% endif %}
      </div>

    </div>

  </div>

  <div class="section-block__item" >


            <form action="" method="POST">
                {% csrf_token %}
                {{ appeal_tag_form.form_name}}
                {{ appeal_tag_form.appeal}}

    <div class="row align-items-center" >
      <div class="col-md-3">
              <div class="form-group">
        <h4>Апелляция</h4>
          </div>
      </div>


          <div class="col-md-1">
              <div class="form-group">
          тег:
          </div>

          </div>
          <div class="col-md-3">
              <div class="form-group">
                        {% if request.user == appeal.executive %}
                  {{ appeal_tag_form.tag|attr:"class:form-control selectpicker search_block tag"}}
                        {% else %}
                            {% if appeal.tag %}
                                {{ appeal.tag.name }}
                            {% else %}
                                -
                            {% endif %}
                        {% endif %}
              </div>
          </div>

          <div class="col-md-2">
                        {% if request.user == appeal.executive %}
              <div class="form-group" >
                        <button type="submit"  class="btn btn-outline-secondary"
                                style="min-width: 100px"
                        >
                            сохранить тег
                        </button>
              </div>
                        {% endif %}
          </div>

    </div>
                </form>


    <div class="row align-items-center" >
      <div class="col-md-9">
          <div class="form-group">
              {{ appeal.create_dt|date:"d.m.Y" }}
              <p class="user-event__text">
              {{ appeal.description  }}
                  </p>
          </div>
          {% if appeal.file %}
          <div class="form-group">
            <div class="custom-file">
                <a href="{{ appeal.file.url }}" download>{{ appeal.file.name  }}</a>
            </div>
          </div>
          {% endif %}
      </div>

            {% include 'red_cards/appeal_status.html' %}

    </div>
  </div>



    {% if request.user == appeal.executive %}
      <div class="users-list__item">
        <div class="row align-items-center">
          <div class="col-md-12" style="text-align: center;">

                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="form_name" value="manage" />

                    <input type="hidden" name="appeal" value="{{ appeal.pk }}" />
                    {% if appeal.status != appeal.STATUS_APPROVED %}
                    <button type="submit" name="action" value="accept" class="btn btn-outline-success" >
                        Одобрить</button>
                        {% endif %}
                    {% if appeal.status != appeal.STATUS_REJECTED %}
                    <button type="submit" name="action" value="reject" class="btn btn-outline-warning" style="margin-left: 10px;">
                        Отклонить</button>
                        {% endif %}

                </form>
          </div>
        </div>
      </div>
    {% endif %}


</div>
<h2 class="section-title">Комментарии </h2>
<div class="section-block event-block">
  <div class="section-block__item">
  {% if not comments %}
    <div class="row align-items-center">
      <div class="col-md-12">
        <div class="user-event">
              <p class="user-event__text">
                  нет коментариев
              </p>
        </div>
      </div>
    </div>
  {% endif %}
          {%  for comment in comments %}
    <div class="row align-items-center">
      <div class="col-md-12">
        <div class="user-event" {% if comment.user == request.user %}style="text-align: right"{% endif %}>
              <p class="user-event__text">
                 {{ comment.date|date:"d.m.Y H:i" }}
                  {% if comment.user == request.user or request.user.is_assistant %}
                      | {{ comment.user.get_full_name }}
                  {% endif %}
            {% if request.user.is_assistant %}
                    | ID {{ comment.user.leader_id }}
            {% endif %}
              </p>


              <p class="">
                 {{ comment.text }}
              </p>

          {% if comment.file %}
      <div class="form-group">
        <div class="custom-file">
            <a href="{{ comment.file.url }}" download>{{ comment.file.name  }}</a>
        </div>
      </div>
          {% endif %}

        </div>
      </div>
      </div>
      <div class="col-md-4">
      </div>
          {% endfor %}
  </div>

{#{% if appeal.status != appeal.STATUS_APPROVED %}#}
  <div class="section-block__item">
    <div class="row align-items-center">
      <div class="col-md-12">


                <form  enctype="multipart/form-data"  class="form-event" action="" method="POST">
        {% csrf_token %}
                    <input type="hidden" name="form_name" value="comment" />

      <div class="form-group">
          {{ comment_form.text|attr:"class:form-control form-textarea"  }}
      </div>
      <div class="form-group">
        <div class="custom-file">
          {{ comment_form.file|attr:"class:custom-file-input" }}

          {{ comment_form.file|add_label_class:"custom-file-label" }}

        </div>
      </div>
      <div class="form-button align--center">
        <button class="btn btn-primary" type="submit">Отправить</button>
      </div>

    </form>



        </div>
      </div>
  </div>

{#{% endif %}#}
</div>
</div>
{% endblock %}