{% extends 'base.html' %}


{% block content %}
    <nav class="breadcrumb-nav" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Главная</a></li>
        <li class="breadcrumb-item active" aria-current="page">Заявки</li>
      </ol>
    </nav>
    <div class="row align-items-center">
      <div class="col-md-5">
        <h1 class="section-title">Заявки</h1>
      </div>
      <div class="col-md-7">
        <form class="form-filter">
          <div class="row align-items-center">
            <div class="col-md-6">
              <div class="form-group">
                <select class="selectpicker form-control" title="По статусу">
                  <option>Не просмотрено</option>
                  <option>Отказ</option>
                  <option>Принято</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <select class="selectpicker form-control" title="По дате">
                  <option>Сначала новые записи</option>
                  <option>Сначала старые записи</option>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="users-list">

    {% for appeal in appeals %}
      <div class="users-list__item">
        <div class="row align-items-center">
          <div class="col-md-9">
              <a class="user-name user-link"
                 href="{% url 'appeals-detail-admin' appeal.pk %}">
            <div class="user-name__value">
                  {{ appeal.create_dt|date:"d.m.Y" }}
                  {{ appeal.card.get_user.get_full_name }}
              </div>
            <span class="user-name__id user-id">ID {{ appeal.card.leader_id }}</span></a>
            <div class="event-date">
                Инциндент:
                {{ appeal.card.incident_dt|date:"d.m.Y" }}
                {{ appeal.card.reason }}
            </div>
            <div class="event-date">
          {% if appeal.status != appeal.STATUS_APPROVED and appeal.status != appeal.STATUS_REJECTED %}
                 Время до решения:
                <span
                        {% if appeal.time_for_complete > 0 %}
                            style="color: green"
                        {% else %}
                            style="color: darkred"
                        {% endif %}
                >
                {{ appeal.time_for_complete_text }}
                </span>
          {% endif %}
            </div>

          </div>
            {% include 'red_cards/appeal_status.html' %}

        </div>
      </div>
    {% endfor %}

    </div>
{% endblock %}
