{% extends 'base.html' %}
{% load comments_tools %}
{% load widget_tweaks %}


{% block content %}
    <nav class="breadcrumb-nav" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Главная</a></li>
        <li class="breadcrumb-item active" aria-current="page">Заявки</li>
      </ol>
    </nav>



    <form class="" action="" method="get">
    <div class="row align-items-center">

      <div class="col-md-2">
        <h1 class="section-title">Заявки</h1>
      </div>
    </div>

    <div class="row align-items-center">
<!-- --------------------------------------------------------------------- -->

    <div class="col-md-4">
      <div class="form-group" style="padding: 0">
        <select class="selectpicker form-control search_block" id="sls1"
                data-live-search="true" style="padding: 0!important;"
                name="user"
        >
            {% for user in all_users %}
                <option data-tokens="{{ user.leader_id }}" {% if user == selected_user %}selected{% endif %}>L{{ user.leader_id }} {{ user.get_full_name }} ({{ user.count_appeals }})</option>
            {% endfor %}
        </select>
      </div>
    </div>
<!-- --------------------------------------------------------------------- -->

              <div class="col-md-3">
                <div class="form-group">
{#              {{ filters_form.status.label_tag }}#}
              {{ filters_form.status|attr:"class:form-control selectpicker search_block"}}
                </div>
            </div>


              <div class="col-md-3">
                <div class="form-group">
{#              {{ filters_form.status.label_tag }}#}
              {{ filters_form.new_messages|attr:"class:form-control selectpicker search_block"}}
                </div>
            </div>
    <div class="col-md-2">
      <div class="form-group" style="padding: 0">
        <div class="form-button-group__item">
          <button class="btn btn-primary" type="submit">выбрать</button>
        </div>
      </div>
      </div>

{% comment %}
      <div class="col-md-7">

    По статусу: Не просмотрено, На рассмотрении, Принято, Отказ
По новым сообщениям: Есть или нет


        <form class="form-filter">
          <div class="row align-items-center">
            <div class="col-md-6">
              <div class="form-group">
                <select class="selectpicker form-control" title="По статусу">
                  <option>Не просмотрено</option>
                  <option>Отказ</option>
                  <option>Принято</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <select class="selectpicker form-control" title="По дате">
                  <option>Сначала новые записи</option>
                  <option>Сначала старые записи</option>
                </select>
              </div>
            </div>
          </div>
        </form>




      </div>

{% endcomment %}
    </div>
    </form>






      <div class="users-list__item">
    <div class="row align-items-center">

      <div class="col-md-2">
        <h5 >Статистика</h5>
      </div>
        <div class="col-md-10" style="font-size: 11pt; padding: 0;">
        <span style="padding: 0 7px; color:#BC6F12;">Не просмотрено: {{ appeals_stats.new }}</span>
        <span style="padding: 0 7px;  color:#165899;">На рассмотрении: {{ appeals_stats.in_work }}</span>
        <span style="padding: 0 7px; color: gray;">Принято: {{ appeals_stats.approved }}</span>
        <span style="padding: 0 7px; color: gray;">Отказ: {{ appeals_stats.rejected }}</span>
        <span style="padding: 0 7px; color: #0B710B;">C новыми сообщениями: {{ appeals_stats.has_new_messages }}</span>
        </div>
    </div>
    </div>






    <div class="users-list">

    {% for appeal in appeals %}
      <div class="users-list__item">
        <div class="row align-items-center">
          <div class="col-md-9">
              <a class="user-name user-link"
                 href="{% url 'appeals-detail-admin' appeal.pk %}">
            <div class="user-name__value">
                  {{ appeal.create_dt|date:"d.m.Y" }}
                  {{ appeal.card.get_user.get_full_name }}
              </div>
            <span class="user-name__id user-id">ID {{ appeal.card.leader_id }}</span></a>
            <div class="event-date">
                Инциндент:
                {{ appeal.card.incident_dt|date:"d.m.Y" }}
                {{ appeal.card.reason }}
            </div>
            <div class="event-date">
          {% if appeal.status != appeal.STATUS_APPROVED and appeal.status != appeal.STATUS_REJECTED %}
                 Время до решения:
                <span
                        {% if appeal.time_for_complete > 0 %}
                            style="color: green"
                        {% else %}
                            style="color: darkred"
                        {% endif %}
                >
                {{ appeal.time_for_complete_text }}
                </span>
          {% endif %}
            </div>
          {% if appeal.get_comments.count > 0 %}
            <div class="event-date">
                    Коментарии: {{ appeal|count_comments:request.user }}
                {% if appeal|count_new_comments:request.user > 0 %}
                    , <span style="color: rgb(245, 153, 50);">новых: {{ appeal|count_new_comments:request.user }}</span>
                    {% endif %}
            </div>
            {% endif %}
          </div>
            {% include 'red_cards/appeal_status.html' %}

        </div>
      </div>
    {% endfor %}

    </div>
{% endblock %}
