{% extends 'base.html' %}
{% load widget_tweaks %}


{% block content %}
<main class="content">
<section class="section-page">
  <div class="container">
    <nav class="breadcrumb-nav" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Главная</a></li>
        <li class="breadcrumb-item active" aria-current="page">Все инциденты</li>
      </ol>
    </nav>
    <div class="row align-items-center">
      <div class="col-md-5">
        <h1 class="section-title">Все инциденты ({{ cards.count }})</h1>
      </div>
      <div class="col-md-7">


        <form class="form-filter" action="" METHOD="GET">
{#            {% csrf_token %}#}
          <div class="row align-items-center">
            <div class="col-md-5">
                <div class="form-group">
{#              {{ filters_form.status.label_tag }}#}
              {{ filters_form.status|attr:"class:form-control selectpicker"}}
                </div>
            </div>
            <div class="col-md-5">
              <div class="form-group">
{#              {{ filters_form.date.label_tag }}#}
              {{ filters_form.date|attr:"class:form-control selectpicker"}}
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <button class="btn btn-outline-info" type="submit" style="min-width: auto;">ок</button>
            </div>
            </div>
          </div>
        </form>



      </div>
    </div>
    <div class="users-list">

        {% for card in cards %}
      <div class="users-list__item">
        <div class="row align-items-center">
          <div class="col-lg-9 col-md-8">
            <div class="user-event">
              <h3 class="user-event__title">
                      {{ card.reason }}
                      {{ card.incident_dt|date:"d.m.Y" }}
              </h3>
              <div class="user-event__date">зафиксировано {{ card.get_status.change_dt|date:"d.m.Y" }}</div>
              <p class="user-event__text">{{ card.description }}</p>
            </div>
            <div class="card-type">
              Тип:
                  <span
                    {% if card.type == card.TYPE_GREEN %}
                          class="color--green"
                    {% elif card.type == card.TYPE_YELLOW %}
                          class="color--yellow"
                    {% elif card.type == card.TYPE_RED %}
                          class="color--red"
                    {% else %}
                          class="color--blue"
                    {% endif %}
                  >{{ card.type_verbose }}</span>
            </div>
          <div class="card-type">
              Пользователь:
                  <span
                  >{{ card.get_user.get_full_name }}
                  </span>
              <span class="user-name__id user-id">ID {{ card.leader_id }}</span>



            </div>
          <div class="card-type">
          <span class="label label-success" style="opacity: 0.6; background-color: red; border-radius: 0.25em; padding: 0 10px !important;
color: #fff;">
                                        {{ card.get_user.get_count_issued_red_cards }}

                                    </span>
                    <span class="label label-success" style="opacity: 0.6; background-color: #A48B04; margin-left: 10px; border-radius: 0.25em; padding: 0 10px !important;
color: #fff;">
                                        {{ card.get_user.get_count_issued_yellow_cards }}

                                    </span>
            </div>
          </div>
          <div class="col-lg-3 col-md-4">
            <div class="event-panel">

                <form action="" method="POST">
                    {% csrf_token %}

                <input type="hidden" name="card" value="{{ card.pk }}" />

                {% if card.get_status.name == card.get_status.NAME_INITIATED  %}
                    {% if card.get_status.system == card.get_status.SYSTEM_API  %}
                        <div class="event-notice color--gray">Инициирована</div>
                        <div class="event-panel__item"><button class="btn btn-success" name="action" value="accept" >Одобрить</button></div>
                        <div class="event-panel__item"><button class="btn btn-danger"  name="action" value="reject">Отклонить</button></div>
                    {% endif %}
                {% endif %}

                {% if card.get_status.name == card.get_status.NAME_RECOMMENDED  %}
                        <div class="event-notice color--gray">Рекомендована</div>
                        <div class="event-panel__item"><button class="btn btn-success" name="action" value="accept" >Одобрить</button></div>
                        <div class="event-panel__item"><button class="btn btn-danger"  name="action" value="reject">Отклонить</button></div>
                {% endif %}
                </form>

                {% if card.get_status.name == card.get_status.NAME_PUBLISHED  %}
                        <div class="event-notice color--blue">Опубликована</div>
                {% endif %}

                {% if card.get_status.name == card.get_status.NAME_CONSIDERATION  %}
                        <div class="event-notice color--yellow">На рассмотрении</div>
                {% endif %}

                {% if card.get_status.name == card.get_status.NAME_ISSUED  %}
                        <div class="event-notice color--gray">Выпущена</div>
                {% endif %}

                {% if card.get_status.name == card.get_status.NAME_ELIMINATED  %}
                        <div class="event-notice ">Деактивирована</div>
                {% endif %}

                {% if card.get_status.name == card.get_status.NAME_APPROVED  %}
                        <div class="event-notice color--green">Одобрена</div>
                {% endif %}

                {% if card.get_status.name == card.get_status.NAME_REJECTED  %}
                        <div class="event-notice color--red">Отклонена</div>
                {% endif %}

                {% if card.get_status.user %}
                <div class="">
                    <span style="color: gray;">user:</span>
                    {{ card.get_status.user.username }}
                </div>
                {% endif %}

            </div>
          </div>
        </div>
      </div>
        {% endfor %}





    </div>
  </div>
</section>
</main>
{% endblock %}