{% load static %}<!DOCTYPE html>
<html lang="ru-RU">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/logo/favicon-32x32.png' %}"/>
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/logo/favicon-96x96.png' %}"/>
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/logo/favicon-16x16.png' %}"/>
    <link href="{% static 'img/favicon.ico' %}" rel="icon" type="image/x-icon"/>
    <title>{% block browser_title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,600,700&amp;display=swap&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'libs/bootstrap-select/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'libs/air-datepicker/css/datepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block page_css %}

    {% endblock %}
    <style>
        footer {
  background: #fff;
  bottom: 0;
  color: #777;
  left: 0;
  margin-top: 25px;
  padding: 25px 0;
  position: absolute;
  right: 0;
}
footer a {
  color: #777;
}
footer a:hover {
  color: #e52127;
  text-decoration: underline;
}
footer .footer-version {
  display: none;
}
    </style>
</head>
<body>
<div class="wrapper">
    {% block header %}
        {% include 'header.html' %}
    {% endblock %}


<main class="content">
  <section class="section-page">
    <div class="container">
        {% if messages %}

          <div class="section-block__item">
            <div class="row align-items-center">
              <div class="col-md-12">
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success alert-dismissible" style="margin: 10px 50px;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}
            </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger alert-dismissible" style="margin: 10px 50px;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}
            </div>
            {% else %}
            <div class="alert alert-info alert-dismissible" style="margin: 10px 50px;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}
            </div>
            {% endif %}
        {% endfor %}

              </div>
              </div>
              </div>
        {% endif %}

      {% block content %}{% endblock %}
    </div>
    </section>
  </main>
{#  <footer class="footer-main"></footer>#}
<footer class="mt-4">
	<div class="container">
		<div class="row">
			<div class="col-sm-3 footer-copyright">
								© 2018-2019
									<a href="http://2035.university" title=""></a>
							</div>
			<div class="col-sm-6 footer-links text-center">
															<a class="text-nowrap ml-2 mr-2" href="http://2035.university" title="Университет НТИ&nbsp;«20.35»&nbsp;">Университет НТИ&nbsp;«20.35»&nbsp;</a>
												</div>
							<div class="col-sm-3 footer-version text-right">
					Версия 1.15.1
				</div>
					</div>
	</div>
</footer>
</div>
<script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'libs/air-datepicker/js/datepicker.min.js' %}"></script>
<script src="{% static 'libs/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'libs/bootstrap-select/js/i18n/defaults-ru_RU.min.js' %}"></script>
<script src="{% static 'libs/jquery.countdown/jquery.countdown.min.js' %}"></script>
<script src="{% static 'libs/jquery/jquery-backward-timer.js' %}"></script>
<script src="{% static 'js/common.js' %}"></script>

{% block page_js %}

{% endblock %}
</body>
</html>