{% load static %}

<html lang="ru-RU">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width" name="viewport">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/logo/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="96x96" href="/static/img/logo/favicon-96x96.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/logo/favicon-16x16.png"/>
    <link href="/static/img/favicon.ico" rel="icon" type="image/x-icon"/>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/app.css">


</head>
<body>
<div class="wrapper">
    {% block header %}
        {% include 'header.html' %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %}
    {% endblock %}
</div>

</body>
<!-- SCRIPTS -->
<script src="/static/js/bootstrap.min.js"></script>




{% block js_add %}

{% endblock %}

</html>
