<header class="header header-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5 col-6">
                <div class="logo-wrap"><a class="logo" href="/">
                    <img class="img-fluid logo-img"
                         src="/static/img/logo_nti.png"
                         style="width: auto"
                         alt="">
                    <div class="logo-text" style="padding-left: 70px">Красные карточки<br>на Острове</div>
                </a></div>
            </div>
            <div class="col-lg-8 col-md-7 col-6">
                <div class="header-links-grid">

                    <div class="header-links-grid__item"><a class="header-link" href="{% url 'help'  %}">Правила</a></div>

                    {% if request.user.is_assistant %}
                        <div class="header-links-grid__item"><a class="header-link" href="{% url 'user-cards' %}">Выдать карточку</a></div>
                        <div class="header-links-grid__item"><a class="header-link" href="{% url 'appeals-list' %}">Апелляции</a></div>
                {% endif %}
                    {% if request.user.is_authenticated %}
                        <div class="header-links-grid__item">{{ request.user.get_full_name }}</div>
                        <div class="header-links-grid__item">
                            <a class="nav-link exit-red" href="{% url 'logout' %}?next=https://now.2035.university"
                               title="Выйти">
                                <i class="fa fa-sign-out"
                                   title="Выйти"></i>
                            </a>
                        </div>
                    {% else %}
                        <div class="header-links-grid__item">
                            <a class="" href="{% url 'social:begin' backend='unti' %}?next={{ request.path }}">
                                Войти </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>
