{% extends 'base.html' %}


{% block content %}


      <h1 class="section-title">Система штрафов и поощрений участников</h1>
      <div class="section-block">

          <div class="section-block__item">
            <div class="row align-items-center">
              <div class="col-md-9">
                <div class="user-name">
                 Введение
                </div>
              </div>
              <div class="col-md-3">
                <div class="user-status">

                </div>
              </div>
            </div>
          </div>

          <div class="section-block__item">
            <div class="row align-items-center">
              <div class="col-lg-9 col-md-8">
                       <p style="padding: 0 0 25px 20px;">
Для оценки участников на «Острове» действуют карточки разных цветов:
                           <br><span class="color--red">красные</span> – за серьезные нарушения,
                           <br><span style="color: #B78900;">желтые</span> – за несущественные нарушения,
                           <br><span style="color: #498F3E;">зеленые</span> – за достижения.

                       </p>

              </div>
            </div>
          </div>

        </div>





{#        <h2 class="section-subtitle">1. Красная карточка выдается:</h2>#}
        <div class="section-block">


          <div class="section-block__item" style="margin: 0;">
            <div class="row align-items-center">
              <div class="col-md-9">
                <div class="user-name">
                    1. <span class="color--red">Красная</span> карточка выдается:
                </div>
              </div>
              <div class="col-md-3">
                <div class="user-status">

                </div>
              </div>
            </div>
          </div>

          <div class="section-block__item">
            <div class="row align-items-center">
              <div class="col-lg-12 col-md-8">
               <p style="padding: 0 0 25px 20px;">

<br />• За пропуск лаборатории или мастер-класса. Присуждается автоматически, если участник не подтвердил свое присутствие на лаборатории или мастер-классе (доступные способы подтверждения: фиксация по Wi-Fi, прикладывание бейджа к сканеру, загрузка цифрового следа).
<br />
<br />• За нарушение правил общественного порядка, в том числе за попытку имитации участия в мероприятиях (вход на мероприятие для регистрации и последующий выход из аудитории, передача бейджа другим участникам, загрузка чужого цифрового следа и т.п.). Выдается вручную организаторами.
<br />
<br />
<br />При наличии 3 красных карточек:
<br />• участник лишается возможности записи на мероприятия (доступа к аукционам)
<br />• фамилия и название команды участника публикуется в открытом доступе в списке нарушителей
<br />• положение команды в рейтинге значительно ухудшается при последующем получении новых красных и желтых карточек.

               </p>



              </div>
            </div>
          </div>

        </div>


{#        <h2 class="section-subtitle">2. Желтая карточка выдается:</h2>#}
        <div class="section-block">


          <div class="section-block__item" style="margin: 0;">
            <div class="row align-items-center">
              <div class="col-md-9">
                <div class="user-name">
                    2. <span style="color: #BF8F00;">Желтая</span> карточка выдается:

                </div>
              </div>
              <div class="col-md-3">
                <div class="user-status">

                </div>
              </div>
            </div>
          </div>

          <div class="section-block__item">
            <div class="row align-items-center">
              <div class="col-lg-12 col-md-8">
               <p style="padding: 0 0 25px 20px;">

<br />     • За посещение мероприятия вне своей траектории (например, если по результатам аукциона место не было получено) со статусом «переполненной аудитории». Выдается автоматически по факту регистрации на мероприятии.
<br />
<br />  • За несущественное нарушение правил общественного порядка. Выдается вручную организаторами.
<br />
<br />   Две желтые карточки превращаются в одну красную карточку. Желтая карточка сгорает, если в течение 48 часов после ее присуждения участник не получает больше ни одной желтой карточки.
<br />
<br />Пример:
<br />участник пришел на мероприятие с красным статусом вне своей траектории (своего расписания). Если он не зарегистрировал свое участие в мероприятии, то получает красную карточку, а если зарегистрировал, то желтую карточку. Если он в этот же день или на следующий день вновь получит желтую карточку, то она становится красной и может быть компенсирована только зеленой, а если не получит ни красных, ни зеленых, то желтая карточка сгорит.
               </p>



              </div>
            </div>
          </div>

        </div>




{#        <h2 class="section-subtitle">3. Зеленая карточка выдается:</h2>#}
        <div class="section-block">


          <div class="section-block__item" style="margin: 0;">
            <div class="row align-items-center">
              <div class="col-md-9">
                <div class="user-name">
                    3. <span style="color: #498F3E;">Зеленая</span> карточка выдается:

                </div>
              </div>
              <div class="col-md-3">
                <div class="user-status">

                </div>
              </div>
            </div>
          </div>

          <div class="section-block__item">
            <div class="row align-items-center">
              <div class="col-lg-12 col-md-8">
               <p style="padding: 0 0 25px 20px;">



<br /> • За участие в экспериментах (не более 3). Выдается тем, кто записался и участвует.
<br />
<br /> • За достижения и активность по решению организаторов и факультетов. Выдается вручную.
<br />
<br />Где и как можно получить зеленую карточку:
<br />• Пройти 3 из 4 тестов на Лаборатории биометрии и нейрофизиологии по управлению ресурсным состоянием.
<br />• Закончить новый игровой день на первом месте в рейтинге команд GT-R:Space (каждый участник команды получает по 1 зеленой карточке).
<br />
<br />Зеленая карточка гасит одну красную карточку, при этом достижение участника остается в его профиле.


               </p>



              </div>
            </div>
          </div>

        </div>


{% endblock %}
