{% extends 'base.html' %}

{% block content %}
    <main class="content">
        <section class="section-page">
            <div class="container">
                <h1 class="section-title">Красные карточки</h1>
                <div class="event-window">
                    <img class="img" src="/static/img/logo.svg" alt="" style="width: 35%">

                    <div class="event-window__button"><a class="btn btn-danger btn-lg" href="#">Войти</a></div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
