{% extends 'base.html' %}


{% block content %}

{% if not user.is_authenticated %}
    <h1 class="section-title">Красные карточки</h1>
    <div class="event-window">
        <img class="img" src="/static/img/logo.svg" alt="" style="width: 35%">
<a class="btn btn-danger btn-lg"
{#   href="{% url 'social:begin' backend='unti' %}?next=http://redcards.ap8.ru">#}
   href="{% url 'social:begin' backend='unti' %}">
    Войти
</a>
    </div>
{% else %}
















      <h1 class="section-title">Мои инциденты</h1>
      <div class="section-block">

          <div class="section-block__item">
            <div class="row align-items-center">
              <div class="col-md-9">
                <div class="user-name">
                  <div class="user-name__value">{{ request.user.get_full_name }}</div>
                    <span class="user-name__id user-id">ID {{ request.user.leader_id }}</span>
                </div>
              </div>
              <div class="col-md-3">
                <div class="user-status">
                  <ul class="status-indicator">
                      {% for c in issued_cards %}
                          <li>
                            <!--  {{ c }} -->
                              <span class="circle circle-orange"></span>
                          </li>
                    {% endfor %}
                            <!--  {{ issued_cards_empty }} -->
                    {% for c in issued_cards_empty %}
                        <li><span class="circle"></span></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>

        {% if not statuses_bad %}
          <div class="section-block__item">
            <div class="row align-items-center">
              <div class="col-lg-9 col-md-8">
                       <p style="padding: 0 0 25px 20px;">
                  Здесь фиксируются прогулы лекций и нарушения общественного порядка.
                           <br>На данный момент инцидентов у вас нет, так держать!

                       </p>

              </div>
            </div>
          </div>
        {% endif %}

          {% for status in statuses_bad %}
          <div class="section-block__item">
            <!--
            CARD: {{ status.card.uuid }}
            STATUS:
                    -id:     {{ status.id }}
                    -date:   {{ status.change_dt }}
                    -name:   {{ status.name }}
            -->
            <div class="row align-items-center">
              <div class="col-lg-9 col-md-8">
                <div class="user-event">
                  <div class="user-event__status">
                      {% if status.name == status.NAME_CONSIDERATION %}
                        Инцидент оспорен и рассматривается модератором
                      {% endif %}
                  </div>
                  <h3 class="user-event__title" style="">
                      {{ status.card.reason }}
                      {{ status.card.incident_dt|date:"d.m.Y" }}
                  </h3>
                  <div class="user-event__date">зафиксировано {{ status.change_dt|date:"d.m.Y" }}</div>
                  <p class="user-event__text">
                      {{ status.card.description }}
                  </p>
                </div>
                <div class="card-type">
                  Тип:
                  <span
                    {% if status.card.type == status.card.TYPE_RED %}
                          class="color--red"
                    {% elif status.card.type == status.card.TYPE_YELLOW %}
                          class="color--yellow"
                    {% else %}
                          class="color--blue"
                    {% endif %}
                  >{{ status.card.type_verbose }}</span>
                </div>
              </div>
              <div class="col-lg-3 col-md-4">
                <div class="event-panel">

                {% if status.name == status.NAME_PUBLISHED %}
                  <div class="event-panel__item">
                      <a class="btn btn-outline-primary"
                         href="{% url 'appeals-add' %}?user={{ request.user.leader_id }}&card={{ status.card.uuid }}">Оспорить</a>
                  </div>
                    <div class="event-panel__item">
                        <div class="timer">
                          <div class="timer__title">на обжалование осталось <span id='timer-{{  status.card.uuid }}'></span></div>
                          <div class="timer__clock" id="timer1"></div>
                        </div>
                      </div>
                {% endif %}
                {% if status.name == status.NAME_CONSIDERATION %}
                  <div class="event-panel__item">
                        <p class="timer-out">
                            <a href="{% url 'appeals-detail-admin' pk=status.card.get_appeal.pk %}" target="_blank">
                                Запрос на рассмотрении.
                            </a>

                        </p>

          {% if status.card.get_appeal.get_comments.count > 0 %}
            <div class="event-date">
                <p class="timer-out">
                    Коментарии: {{ status.card.get_appeal.get_comments.count }}
                </p>
            </div>
          {% endif %}
                      </div>
                {% endif %}

                {% if status.name == status.NAME_ISSUED %}
                {% if status.card.type == status.card.TYPE_RED %}
                {% if status.system == status.SYSTEM_CARDS_APPEAL %}

                  <div class="event-panel__item">
                        <p class="timer-out">Оспаривание отклонено.</p>
                      </div>

                {% endif %}
                {% endif %}
                {% endif %}
                    {% if status.card.type == status.card.TYPE_YELLOW %}
                  <div class="event-panel__item">
                       <p class="event-notice-text">При получении второй желтой карточки вы автоматически получите красную. В ином случае желтая карточка автоматически деактивируется спустя 24 часа с момента ее получения</p>
                  </div>
                    {% endif %}

                </div>
              </div>
            </div>
          </div>

          {% endfor %}


        </div>



        <h2 class="section-subtitle">Зеленые карточки</h2>
        <div class="section-block">

          <div class="section-block__item">
            <div class="row align-items-center">
              <div class="col-md-12">
                <div class="user-status">
                  <ul class="status-indicator">

                      {% for c in statuses_good %}
                          <li>
                            <!--  {{ c }} -->
                              <span class="circle circle-green"></span>
                          </li>
                    {% endfor %}
                            <!--  {{ statuses_good_empty }} -->
                    {% for c in statuses_good_empty %}
                        <li>
                        <!--  {{ c }} -->
                            <span class="circle"></span>
                        </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>

        {% if not statuses_good %}
          <div class="section-block__item">
            <div class="row align-items-center">
              <div class="col-lg-9 col-md-8">
                       <p style="padding: 0 0 25px 20px;">
                  Зеленые карточки выдаются за достигнутые на Острове успехи.
                           <br>На данный момент зеленых карточек у вас нет.


                       </p>

              </div>
            </div>
          </div>
        {% endif %}
          {% for status in statuses_good %}
          <div class="section-block__item">
            <!--
            CARD: {{ status.card.uuid }}
            STATUS:
                    -id:     {{ status.id }}
                    -date:   {{ status.change_dt }}
                    -name:   {{ status.name }}
            -->
            <div class="row align-items-center">
              <div class="col-lg-9 col-md-8">
                <div class="user-event">
                  <h3 class="user-event__title">

                      {{ status.card.reason }}
                      {{ status.card.incident_dt|date:"d.m.Y" }}
                  </h3>
                  <div class="user-event__date">зафиксировано {{ status.incident_dt|date:"d.m.Y" }}</div>
                  <p class="user-event__text">
                      {{ status.card.description }}
                  </p>
                </div>
                <div class="card-type">
                  Тип:
                  <span class="color--green">{{ status.card.type_verbose }}</span>
                </div>
              </div>
            </div>
          </div>
            {% endfor %}

    {% comment %}
          <div class="section-block__item">
            <div class="row align-items-center">
              <div class="col-lg-9 col-md-8">
                <div class="user-event">
                  <h3 class="user-event__title">Прогул лекции «Тренды в сборе» 10.07.2019</h3>
                  <div class="user-event__date">зафиксировано 11.07.2019</div>
                </div>
                <div class="card-type">
                  Тип:
                  <span class="color--green">Зеленая карточка</span>
                </div>
              </div>
              <div class="col-lg-3 col-md-4">
                <div class="event-panel">
                  <div class="event-panel__item">
                    <div class="event-notice color--red">Потрачена на погашение красной карточки</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    {% endcomment %}
        </div>




    <!-- ---------------------------------------------------------------- -->





        <h2 class="section-subtitle">Деактивированные карточки</h2>
        <div class="section-block">


        {% if not statuses_good %}
          <div class="section-block__item">
            <div class="row align-items-center">
              <div class="col-lg-9 col-md-8">
                       <p style="padding: 0 0 25px 20px;">
                           На данный момент деактивированных карточек у вас нет.


                       </p>

              </div>
            </div>
          </div>
        {% endif %}

        {% for card in eliminated_cards %}
            <div class="section-block__item">
            <div class="row align-items-center">
              <div class="col-lg-9 col-md-8">
                <div class="user-event">
                  <h3 class="user-event__title">
                      {{ card.reason }}
                      {{ card.incident_dt|date:"d.m.Y" }}</h3>
                  <div class="user-event__date">зафиксировано {{ card.get_status.change_dt|date:"d.m.Y" }}</div>
                </div>
                <div class="card-type">
                  Тип:
                  <span
                    {% if card.type == card.TYPE_RED %}
                          class="color--red"
                    {% elif card.type == card.TYPE_YELLOW %}
                          class="color--yellow"

                    {% elif card.type == card.TYPE_GREEN %}
                          class="color--green"

                    {% else %}
                          class="color--blue"
                    {% endif %}
                  >{{ card.type_verbose }}</span>
                </div>
              </div>
              <div class="col-lg-3 col-md-4">
                <div class="event-panel">
                  <div class="event-panel__item">
                   {% if card.type == card.TYPE_RED  %}
                       {% if card.get_status.system == card.get_status.SYSTEM_CARDS_APPEAL %}
                       <div class="event-notice color--green">Успешно оспорена</div>
                      {% endif %}

                       {% if card.get_status.system == card.get_status.SYSTEM_CARDS_REPAYMENT %}
                       <div class="event-notice color--green">Погашена зеленой</div>
                      {% endif %}

                   {% endif %}
                  {% if card.type == card.TYPE_YELLOW %}
                       {% if card.get_status.system == card.get_status.SYSTEM_CARDS_TRANSFORM %}
                       <div class="event-notice">Перешла в красную</div>
                           {% else  %}
                           <div class="event-notice">Деактивирована</div>
                      {% endif %}
                  {% endif %}
                  {% if card.type == card.TYPE_GREEN %}
                       {% if card.get_status.system == card.get_status.SYSTEM_CARDS_REPAYMENT %}
                       <div class="event-notice color--red">Потрачена на погашение красной карточки</div>
                      {% endif %}
                  {% endif %}

                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}


    <!-- ---------------------------------------------------------------- -->






    {% comment %}
        <h2 class="section-title">Доска позора</h2>
        <div class="users-list">
          <div class="users-list__item">
            <div class="row align-items-center">
              <div class="col-md-9"><a class="user-name user-link" href="#">
                  <div class="user-name__value">Дмитрий Иванов</div><span class="user-name__id user-id">ID 12345</span></a></div>
              <div class="col-md-3">
                <div class="user-status">
                  <div class="user-status__value orange-color">ОТЧИСЛЕН</div>
                </div>
              </div>
            </div>
          </div>
          <div class="users-list__item">
            <div class="row align-items-center">
              <div class="col-md-9"><a class="user-name user-link" href="#">
                  <div class="user-name__value">Дмитрий Иванов</div><span class="user-name__id user-id">ID 12345</span></a></div>
              <div class="col-md-3">
                <div class="user-status">
                  <div class="user-status__value orange-color">ОТЧИСЛЕН</div>
                </div>
              </div>
            </div>
          </div>
          <div class="users-list__item">
            <div class="row align-items-center">
              <div class="col-md-9"><a class="user-name user-link" href="#">
                  <div class="user-name__value">Дмитрий Иванов</div><span class="user-name__id user-id">ID 12345</span></a></div>
              <div class="col-md-3">
                <div class="user-status">
                  <ul class="status-indicator">
                    <li><span class="circle circle-orange"></span></li>
                    <li><span class="circle circle-orange"></span></li>
                    <li><span class="circle circle-orange"></span></li>
                    <li><span class="circle"></span></li>
                    <li><span class="circle"></span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="users-list__item">
            <div class="row align-items-center">
              <div class="col-md-9"><a class="user-name user-link" href="#">
                  <div class="user-name__value">Дмитрий Иванов</div><span class="user-name__id user-id">ID 12345</span></a></div>
              <div class="col-md-3">
                <div class="user-status">
                  <ul class="status-indicator">
                    <li><span class="circle circle-orange"></span></li>
                    <li><span class="circle circle-orange"></span></li>
                    <li><span class="circle"></span></li>
                    <li><span class="circle"></span></li>
                    <li><span class="circle"></span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="users-list__item">
            <div class="row align-items-center">
              <div class="col-md-9"><a class="user-name user-link" href="#">
                  <div class="user-name__value">Дмитрий Иванов</div><span class="user-name__id user-id">ID 12345</span></a></div>
              <div class="col-md-3">
                <div class="user-status">
                  <ul class="status-indicator">
                    <li><span class="circle circle-orange"></span></li>
                    <li><span class="circle"></span></li>
                    <li><span class="circle"></span></li>
                    <li><span class="circle"></span></li>
                    <li><span class="circle"></span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
    {% endcomment %}

    {% comment %}
        <div class="section-button align--center"><a class="btn btn-outline-primary" href="#">Показать еще</a></div>
    {% endcomment %}
{% endif %}

{% endblock %}


{% block page_js %}

<script type="text/javascript">
$(document).ready(function(){

    {% for status in statuses_bad %}
        $('#timer-{{ status.card.uuid }}').backward_timer({
            seconds: {{ status.card.get_seconds_for_appellation }},
            format: 'h% часа m% минут',
        });
        $('#timer-{{ status.card.uuid }}').backward_timer('start');
    {% endfor %}
})
</script>
{% endblock %}