{% extends 'base.html' %}


{% block content %}
    <nav class="breadcrumb-nav" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Главная</a></li>
        <li class="breadcrumb-item active" aria-current="page">Заявки</li>
      </ol>
    </nav>
    <div class="row align-items-center">
      <div class="col-md-5">
        <h1 class="section-title">Заявки</h1>
      </div>
      <div class="col-md-7">
        <form class="form-filter">
          <div class="row align-items-center">
            <div class="col-md-6">
              <div class="form-group">
                <select class="selectpicker form-control" title="По статусу">
                  <option>Не просмотрено</option>
                  <option>Отказ</option>
                  <option>Принято</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <select class="selectpicker form-control" title="По дате">
                  <option>Сначала новые записи</option>
                  <option>Сначала старые записи</option>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="users-list">

    {% for appeal in appeals %}
      <div class="users-list__item">
        <div class="row align-items-center">
          <div class="col-md-9"><a class="user-name user-link" href="user-page.html">
            <div class="user-name__value">
                  {{ appeal.create_dt|date:"d.m.Y" }}
                  {{ appeal.card.get_user.get_full_name }}
              </div>
            <span class="user-name__id user-id">ID {{ appeal.card.leader_id }}</span></a>
            <div class="event-date">
                Инциндент:
                {{ appeal.card.incident_dt|date:"d.m.Y" }}
                {{ appeal.card.reason }}
            </div>
            <div class="event-date">
          {% if appeal.status != appeal.STATUS_APPROVED and appeal.status != appeal.STATUS_REJECTED %}
                 Времени до решения:
                <span
                        {% if appeal.time_for_complete > 0 %}
                            style="color: green"
                        {% else %}
                            style="color: darkred"
                        {% endif %}
                >
                {{ appeal.time_for_complete_text }}
                </span>
          {% endif %}
            </div>

          </div>
          <div class="col-md-3">
            <div class="user-status">

                {% if appeal.status == appeal.STATUS_NEW %}
                    <div class="user-status__value blue-color">НЕ ПРОСМОТРЕНО</div>
                {% elif appeal.status == appeal.STATUS_IN_WORK %}
                    <div class="user-status__value green-color">На рассмотрении</div>
                {% elif appeal.status == appeal.STATUS_APPROVED %}
                    <div class="user-status__value green-color">Принято</div>
                {% elif appeal.status == appeal.STATUS_REJECTED %}
                    <div class="user-status__value orange-color">Отказ</div>
                {% else %}
                    <div class="user-status__value orange-color">NA</div>
                {% endif %}

                {% if appeal.status == appeal.STATUS_NEW or appeal.status == appeal.STATUS_IN_WORK %}
                    <span style="color: gray;">{{ appeal.executive.get_full_name }}</span>

                    <form action="" method="POST">
                    {% csrf_token %}
                        <input type="hidden" name="appeal" value="{{ appeal.pk }}" />
                    {% if appeal.executive != request.user %}
                            <input type="hidden" name="action" value="assign" />
                            <button class="btn btn-outline-primary">взять в работу</button>
                    {% else %}
                            <input type="hidden" name="action" value="free" />
                            <button class="btn btn-outline-primary">отказаться</button>
                    {% endif %}
                    </form>
                {% else %}
                    <span style="color: gray;">{{ appeal.date_finished|date:"d.m.Y" }}</span>
                {% endif %}



            </div>
          </div>
        </div>
      </div>
    {% endfor %}

    </div>
{% endblock %}
