{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load bootstrap_pagination %}
{% block page_css %}
<style>
.search_block{
    padding: 0 !important;
    font-size: 14pt!important;
    height: 30px!important;
}
</style>
{% endblock %}

{% block content %}
<main class="content">
<section class="section-page">
  <div class="container">
    <nav class="breadcrumb-nav" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Главная</a></li>
        <li class="breadcrumb-item active" aria-current="page">Выбор студента</li>
      </ol>
    </nav>


    <h1 class="section-title">Выберите студента</h1>
    <form class="form-search" action="" method="get">
      <div class="row align-items-center">


<!-- --------------------------------------------------------------------- -->

    <div class="col-md-5">
      <div class="form-group" style="padding: 0">
        <select class="selectpicker form-control search_block" id="sls1"
                data-live-search="true" style="padding: 0!important;"
                name="user"
        >
            {% for user in all_users %}
                <option data-tokens="{{ user.leader_id }}" {% if user == selected_user %}selected{% endif %}>L{{ user.leader_id }} {{ user.get_full_name }}</option>
            {% endfor %}
        </select>
      </div>
    </div>
          <div class="col-md-5">
                <div class="form-group">
{#              {{ filters_form.status.label_tag }}#}
              {{ filters_form.status|attr:"class:form-control selectpicker search_block"}}
                </div>
            </div>
    <div class="col-md-2">
      <div class="form-group" style="padding: 0">
        <div class="form-button-group__item">
          <button class="btn btn-primary" type="submit">выбрать</button>
        </div>
      </div>
    </div>

<!-- --------------------------------------------------------------------- -->


        <div class="col-md-6">
{#          <div class="label-id">ID 123456</div>#}
        </div>
      </div>
    </form>


    <div class="users-list">

        {% if selected_user %}
      <div class="users-list__item">
        <div class="row align-items-center">
          <div class="col-md-4">
              <a class="user-name user-link"
{#                 href="{% url 'card-add' leader_id=selected_user.leader_id %}" target="_blank"#}
              >
              <div class="user-name__value">{{ selected_user.get_full_name }}</div>
              <span class="user-name__id user-id">ID {{ selected_user.leader_id }}</span></a>
          </div>
          <div class="col-md-4">
              <a class="btn btn-outline-primary" target="_blank"
                 href="{% url 'card-add' leader_id=selected_user.leader_id %}" type="submit">Выдать карточку</a>
          </div>
          <div class="col-md-4">
{#            <div class="user-email align--right"><a href="mailto:{{ selected_user.email }}">{{ selected_user.email }}</a></div>#}
          </div>
        </div>
      </div>
        {% endif %}




        {% if not cards %}
      <div class="users-list__item">
        <div class="row align-items-center">
              <div class="col-lg-9 col-md-8">
                       <p style="padding: 0 0 25px 20px;">
                  У пользователя {{ selected_user.get_full_name }} нет карточек

                       </p>

              </div>
            </div>
          </div>
        {% endif %}

        {% for card in cards %}
      <div class="users-list__item">
        <div class="row align-items-center">
              <div class="col-lg-7 col-md-6">
                <div class="user-event">
                  <h3 class="user-event__title">
                      {{ card.reason }}
                      {{ card.incident_dt|date:"d.m.Y" }}</h3>
                  <div class="user-event__date">зафиксировано {{ card.get_status.change_dt|date:"d.m.Y" }}</div>
              <p class="user-event__text">{{ card.description }}</p>
                </div>
                <div class="card-type">
                  Тип:
                  <span
                    {% if card.type == card.TYPE_RED %}
                          class="color--red"
                    {% elif card.type == card.TYPE_YELLOW %}
                          class="color--yellow"

                    {% elif card.type == card.TYPE_GREEN %}
                          class="color--green"

                    {% else %}
                          class="color--blue"
                    {% endif %}
                  >{{ card.type_verbose }}</span>
                </div>
              </div>


          <div class="col-lg-2 col-md-2">
              {% if request.user.is_staff %}
              {% if card.get_status.name != card.get_status.NAME_ELIMINATED %}




<!-- Button trigger modal -->
<button type="button"
        id="deactivate-start-btn-{{ card.uuid }}"
        class="btn btn-outline-info" data-toggle="modal" data-target="#modal-{{ card.uuid }}">
  деактивировать
</button>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="modal-{{ card.uuid }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Деактивация карточки ( ONLY superuser )</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">



{% comment %}
          <div class="row">
              <div class="col-md-4">

        <button class="btn btn-outline-info" type="button" data-toggle="collapse"
                data-target="#card-info-{{ card.uuid }}" aria-expanded="false" aria-controls="collapseExample">
    Карточка
  </button>
              </div>
              <div class="col-md-4">

        <button class="btn btn-outline-info" type="button" data-toggle="collapse"
                data-target="#card-user-info-{{ card.uuid }}" aria-expanded="false" aria-controls="collapseExample">
    Пользователь
  </button>
              </div>
          </div>



      <div class="collapse" id="card-info-{{ card.uuid }}">
  <div class="card card-body">
          <h5 style="text-align: center!important;">Карточка</h5>
          <div class="row">
              <div class="col-md-4">uuid</div>
              <div class="col-md-6">{{ card.uuid }}</div>
          </div>
          <div class="row">
              <div class="col-md-4">Время нарушения</div>
              <div class="col-md-6">{{ card.incident_dt }}</div>
          </div>
          <div class="row">
              <div class="col-md-4">Источник</div>
              <div class="col-md-6">{{ card.source }}</div>
          </div>
          <div class="row">
              <div class="col-md-4">Статус</div>
              <div class="col-md-6">
                  {{ card.get_status.name }}
                  <br> Установил статус: {{ card.get_status.user.email }}
                  <br/> {{ card.get_status.change_dt }}
              </div>
          </div>
          <div class="row">
              <div class="col-md-4">Тип карточки</div>
              <div class="col-md-6">{{ card.type }}</div>
          </div>
          <div class="row">
              <div class="col-md-4">Время до аппеляции</div>
              <div class="col-md-6">{{ card.get_seconds_for_appellation }} s</div>
          </div>
          <div class="row">
              <div class="col-md-4">Причина</div>
              <div class="col-md-6">{{ card.reason }}</div>
          </div>
          <div class="row">
              <div class="col-md-4">Описание</div>
              <div class="col-md-6">{{ card.description }}</div>
          </div>
          <div class="row">
              <div class="col-md-4">Аппеляция</div>
              <div class="col-md-6">
                  {{ card.get_appeal.description }}
                  <br>
                  <br>Время: {{ card.get_appeal.create_dt }}
                  <br>Статус: {{ card.get_appeal.status }}
                  {% if card.get_appeal.file %}
          <br>Фаил:<a href="{{ card.get_appeal.file.url }}" download>{{ card.get_appeal.file.name  }}</a>

          {% endif %}
                  <br>Расмотрел: {{ card.get_appeal.executive.email }}
                  {{ card.get_appeal.executive.date_assign }}
                  {{ card.get_appeal.executive.date_finished }}

              </div>
          </div>
  </div>
      </div>




      <div class="collapse" id="card-user-info-{{ card.uuid }}">
  <div class="card card-body">

            <br>
          <h5 style="text-align: center!important;">Пользователь</h5>
          <div class="row">
              <div class="col-md-2">ID</div>
              <div class="col-md-6">{{ card.get_user.leader_id }}</div>
          </div>
          <div class="row">
              <div class="col-md-2">Имя</div>
              <div class="col-md-6">{{ card.get_user.get_full_name }}</div>
          </div>
          <div class="row">
              <div class="col-md-2">Email</div>
              <div class="col-md-6">{{ card.get_user.email }}</div>
          </div>


          {% with card_statistic=card.get_user.get_card_statistic %}
              <table class="table table-striped table-bordered" style="margin-top: 10px;">
              <thead>
                <tr style="font-size: 10pt;">
{#                  <th scope="col">Всего</th>#}
                  <th scope="col">красные</th>
                  <th scope="col">красные not rejected</th>
                  <th scope="col">желтые</th>
                  <th scope="col">зеленые</th>
                </tr>
              </thead>
              <tbody>
                <tr>
{#                  <th scope="row">{{ card_statistic.total }}</th>#}
                  <td>{{ card_statistic.red }}</td>
                  <td>{{ card_statistic.red_not_rejected }}</td>
                  <td>{{ card_statistic.yellow }}</td>
                  <td>{{ card_statistic.green }}</td>
                </tr>
              </tbody>
            </table>
          {% endwith %}
  </div>
      </div>

{% endcomment %}
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-primary" id="deactivate-btn-{{ card.uuid }}">Деактивировать</button>

      </div>
    </div>
  </div>
</div>





              {% endif %}
              {% endif %}
          </div>

              <div class="col-lg-3 col-md-4">
                <div class="event-panel">
                  <div class="event-panel__item" id="card-status-{{ card.uuid }}">

                   {% if card.get_status.name == card.get_status.NAME_PUBLISHED %}
                   <div class="event-notice ">Можно оспорить</div>
                  {% endif %}

                   {% if card.get_status.name == card.get_status.NAME_ISSUED %}
                   <div class="event-notice color--green">Выдана</div>
                  {% endif %}

                   {% if card.get_status.name == card.get_status.NAME_CONSIDERATION %}
                   <div class="event-notice color--blue">Оспорена - на рассмотрении</div>
                  {% endif %}

                   {% if card.get_status.name == card.get_status.NAME_ELIMINATED %}
                    {% if card.get_status.system == card.get_status.SYSTEM_CARDS_APPEAL %}
                    <div class="event-notice color--green">Успешно оспорена</div>
                    {% else %}
                    <div class="event-notice color--green">Деактивирована</div>
                    {% endif %}
                  {% endif %}


                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}





  </div>


</section>
</main>
{% endblock %}

{% block page_js %}
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.14/lodash.min.js"></script>
<script src="{% static 'libs/jquery/jquery.rest.min.js' %}"></script>


<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    /** ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    function getCookie(c_name) {
        if (document.cookie.length > 0) {
            c_start = document.cookie.indexOf(c_name + "=");
            if (c_start != -1) {
                c_start = c_start + c_name.length + 1;
                c_end = document.cookie.indexOf(";", c_start);
                if (c_end == -1) c_end = document.cookie.length;
                return unescape(document.cookie.substring(c_start, c_end));
            }
        }
        return "";
    }

    /** ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
// https://stackoverflow.com/questions/28417781/jquery-add-csrf-token-to-all-post-requests-data
// https://stackoverflow.com/questions/6506897/csrf-token-missing-or-incorrect-while-post-parameter-via-ajax-in-django
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
            }
        }
    });
    /** ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/** ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
var api = new $.RestClient('/api', {
    cache: 1, //This will cache requests for 1 seconds
    cachableMethods: ["GET"], //This defines what method types can be cached (this is already set by default)
    verbs: {
        'create' : 'POST',
        'read'   : 'GET',
        {#'update' : 'PUT',#}
        'update' : 'PATCH',
        'replace': 'PUT',
        'destroy': 'DELETE',
    }
});
window.api_client = api;

api.add('status', {url: '/statuses'});
/** ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

{% for card in cards %}

$('#deactivate-btn-{{ card.uuid }}').click(function() {
    console.log($(this), '{{ card }}');
    $(this).text('please wait ...');
    api.status.create(
        {
            'card':     "{{ card.uuid }}",
            'system':   "cards-deactivate",
            'name':     "eliminated",
        }
    ).done(function (data, textStatus, xhrObject) {
        console.log('data',data);
        $('#modal-{{ card.uuid }}').modal('hide');
        $('#deactivate-start-btn-{{ card.uuid }}')
            .addClass('btn-outline-secondary')
            .removeClass('btn-outline-info')
            .prop( "disabled", true );
        $('#card-status-{{ card.uuid }}').empty().append(
            '<div class="event-notice color--green">Деактивирована</div>'
        )
    })
});

/*
api.feeds.update(
this.feed.id,
{'is_active': is_active}
).done(function (data, textStatus, xhrObject) {
// console.log('feed_switch_active - done');
instance.feed.is_active = is_active;
// console.log('api.feeds.update', data, textStatus, xhrObject)
instance.bus_events.$emit('feeds:forceUpdate')
})
*/


{% endfor %}
});
</script>
{% endblock %}