{% extends 'base.html' %}
{% load widget_tweaks %}
{% load bootstrap_pagination %}
{% block page_css %}
<style>
.search_block{
    padding: 0 !important;
    font-size: 14pt!important;
    height: 30px!important;
}
</style>
{% endblock %}

{% block content %}
<main class="content">
<section class="section-page">
  <div class="container">
    <nav class="breadcrumb-nav" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Главная</a></li>
        <li class="breadcrumb-item active" aria-current="page">Выбор студента</li>
      </ol>
    </nav>
    <h1 class="section-title">Выберите студента</h1>
    <form class="form-search" action="" method="get">
      <div class="row align-items-center">

          {% comment %}
        <div class="col-md-6">
          <div class="form-group">
            <input class="form-control" type="search"
                   placeholder="Начните вводить имя студента или email"><span class="zoom-icon"></span>
          </div>
        </div>
          {% endcomment %}

<!-- --------------------------------------------------------------------- -->

    <div class="col-md-6">
      <div class="form-group" style="padding: 0">
        <select class="selectpicker form-control search_block" id="sls1"
                data-live-search="true" style="padding: 0!important;"
                name="user"
        >
            {% for user in all_users %}
                <option data-tokens="{{ user.leader_id }}">L{{ user.leader_id }} {{ user.get_full_name }}</option>
            {% endfor %}
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group" style="padding: 0">
        <div class="form-button-group__item">
          <button class="btn btn-primary" type="submit">выбрать</button>
        </div>
      </div>
    </div>

<!-- --------------------------------------------------------------------- -->


        <div class="col-md-6">
{#          <div class="label-id">ID 123456</div>#}
        </div>
      </div>
    </form>


    <div class="users-list">

        {% for user in selected_users %}
      <div class="users-list__item">
        <div class="row align-items-center">
          <div class="col-md-4">
              <a class="user-name user-link" href="{% url 'card-add' leader_id=user.leader_id %}" target="_blank">
              <div class="user-name__value">{{ user.get_full_name }}</div>
              <span class="user-name__id user-id">ID {{ user.leader_id }}</span></a>
          </div>
          <div class="col-md-4">
{#              <a class="btn btn-outline-primary" target="_blank"#}
{#                 href="{% url 'card-add' leader_id=user.leader_id %}" type="submit">Выдать карточку</a>#}
          </div>
          <div class="col-md-4">
            <div class="user-email align--right"><a href="mailto:{{ user.email }}">{{ user.email }}</a></div>
          </div>
        </div>
      </div>
        {% endfor %}

    {% comment %}
    {% if not by_search %}
<div class="box-footer clearfix" style="text-align: center;">
    {% bootstrap_paginate selected_users range=10 show_first_last=True %}
</div>
{% else %}
<div class="box-footer clearfix" style="text-align: center;">
      <div class="form-button-group">
        <div class="form-button-group__item">
          <a class="btn btn-outline-primary" href="{% url 'users-search' %}" type="submit">показать всех</a>
        </div>
      </div>
</div>
{% endif %}
{% endcomment %}
  </div>
</section>
</main>
{% endblock %}